<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sq.flutter.tflite">

    <application
        android:name="io.flutter.app.FlutterApplication"
        android:label="tflite"
        android:icon="@mipmap/ic_launcher">

        <!-- ✅ Legacy embedding setting -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="1" />

    </application>

</manifest>

